* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 100px;
    height: 100px;
    background-color: #4fbb44;
    margin: 1vh 1vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50vw;
    height: 40vh;
    margin: 5vh auto;
}

.translate{
    transition: transform 1s;
}

.translate:hover {
    transform: translate(3vh,3vw);
}

.translateX{
    transition: transform 1s;
}

.translateX:hover {
    transform: translateX(-3vw);
}

.translateY {
    transition: transform 1s;
}

.translateY:hover{
    transform: translateY(3vh);
}

.rotate {
    transition: transform 1s;
}

.rotate:hover {
    transform: rotate(45deg);
}

.scale {
    transition: transform 1s;
}

.scale:hover {
    transform: scale(1.3, 1.5);
}

.skew {
    transition: transform 1s;
}

.skew:hover {
    transform: skew(20deg);
}